DB_NAME=article
DB_USER=user
DB_PASSWORD=changeme
DB_HOST=db
# DB_PORT=3306

MYSQL_ROOT_PASSWORD=root_change_me
MYSQL_DATABASE=article
MYSQL_USER=user
MYSQL_PASSWORD=changeme

DJANGO_SUPERUSER_PASSWORD=changeme_super
DJANGO_SUPERUSER_EMAIL=admin@email.com

APP_PORT=8001
